
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Successful Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/icon.jpg" >
    <link rel="stylesheet" type="text/css" media="screen" href="css/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/result-register.js"></script>
    <style>
        input {
            margin-bottom: 20px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="page-container">
        <div class="content-wrap">
            <div class="humburger-out" onclick="navOpen()">
                <div class="humburger-in"></div>
                <div class="humburger-in"></div>
                <div class="humburger-in"></div>
            </div>
            <div class="w3-container header" style="margin-left:6%; margin-right: 6%" id="header">
                <img src="images/icon.jpg"  class="logo" />
                        <a href="index.html" class="header-nav">Home</a>
                        <a href="register.html" class="header-nav">Register as Donor</a>
                        <a href="request.html" class="header-nav">Request Blood</a>
                        <a href="statistics.html" class="header-nav">Statistics</a>
            </div>

            <div class="w3-container">
                <div class="input-box-register w3-card-2">
                    
                    <header class="w3-center">
                        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                           <span class="swal2-success-line-tip"></span>
                           <span class="swal2-success-line-long"></span>
                           <div class="swal2-success-ring"></div> 
                           <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                           <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                          </div>
                        <h2>Successfully Registered</h2>
                    </header>
                    <hr style="border-top: 2px solid #a5dc86;">
                    
                    <form  id="announce-form" class="w3-justify">
                        <ul id="reg-list">
                        <li> <div class="w3-row-padding w3-margin-bottom">
                            
                                <span class="result-label">Name:</span> <span id="reg-fname" class="reg-var"></span>
                            </div>
                        </li>    
                        <li> <div class="w3-row-padding w3-margin-bottom">   
                                <span class="result-label">Personal ID:</span> <span id="reg-pid" class="reg-var"></span>
                            
                            </div>
                            </li>

                        <li> <div class="w3-row-padding w3-margin-bottom">
                            
                                <span class="result-label">Contact Number:</span> <span id="reg-phone" class="reg-var"></span>
                            </div>
                        </li>    
                        

                        <li> <div class="w3-row-padding w3-margin-bottom">
                            
                                <span class="result-label">Blood Group:</span> <span id="reg-blood-group" class="reg-var"></span>
                            </div>
                        </li>   
                        <li> <div class="w3-row-padding w3-margin-bottom">    
                                <span class="result-label">Amount:</span> <span id="reg-amount" class="reg-var"></span>
                            
                            </div>
                        </li>

                        <li> <div class="w3-row-padding w3-margin-bottom">    
                                <span class="result-label">Register Date:</span> <span id="reg-date" class="reg-var"></span>
                            
                            </div>
                        </li>
                        
                        </ul>

                        
                        <p  class="w3-center"><b><i>Details on blood donation process will be provided to you via email or phone call later</i></b></p>
                        <p  class="w3-center"><b><i>Thank you for your registration!</i></b></p>
                    </form>
                     <div class="w3-center">
                        <button class="w3-button w3-round-large w3-padding w3-border success-btn" onclick="openIndex()">Back to Home</button>                    
                    </div>       
                    
                </div>
            </div>    
        </div>
    </div>
    <footer class="footer">
        
        <a>
            Made by Hong Einh, Viet Hoang, Hung Nguyen, and Phuc Nguyen <br> Database Project © Copyright 2020 All Right Reserved
        </a>
    </footer>
    
</body>

</html>